<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--Author: HAMP -->
<head lang="es" th:fragment="head"><!-- Indica que es un fragment de nombre head -->
	<!-- En este fragmento solo coloco los CSS y JS de bootstrap y jquery-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- StyleCSS -->
    <link href="../static/library/bootstrap/css/bootstrap.min.css" th:href="@{/library/bootstrap/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
	
	<!-- ScriptJS -->
    <script src="../static/library/jquery/jquery-1.12.1.min.js" th:src="@{/library/jquery/jquery-1.12.1.min.js}"></script>
	<script src=".../static/library/bootstrap/js/bootstrap.min.js" th:src="@{/library/bootstrap/js/bootstrap.min.js}"></script>
    
</head>
<body>

</body>
</html>