<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<!--Author: HAMP -->
</head>
<body>

    <!-- Este container tiene un div fragmente y un div jumbotron -->
	<div class="container">
	
		<!-- Indica que es un fragment de nombre header solo contiene un NAV 
		esto lo saque de : http://getbootstrap.com/components/#navbar-->
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<!-- dentro del fragmento coloco un nav(menu)-->
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Inicio</a>
						<ul class="nav navbar-nav">
							<li><a href="#" th:href="@{/entidades}">Entidades Financieras</a></li>
							<li><a href="#" th:href="@{/periodos}">Calendario Fiscal</a></li>
							<li><a href="#" th:href="@{/servicios}">Servicios</a></li>
							<li><a href="#" th:href="@{/incidentes}">Incidentes</a></li>
							
						</ul>
					</div>
				</div>
			</nav>

			<!-- Esta seccion lo saque de: http://getbootstrap.com/components/#jumbotron-->
			
			<div class="jumbotron">
				<div class="text-center">
					<img src="../../static/images/campus.png" class="img-rounded"
						width="660" height="372" th:src="@{/images/campus.png}"/>
				</div>
			</div>
			<h6>Equipo Desarrollador</h6>
			<p class="small"> Nadia Granda - Miguel Blas - Kevin Tito - Pieter Gleixner - Andrea Pachas</p>
		</div>
	</div>

</body>
</html>