<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es">
<title>Entidades Financieras</title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
	<div class="container">
	<th:block th:include="fragments/header2 :: header"></th:block>
		<!-- Division para buscar por pais -->
		<div class="panel panel-default">
			<div class="panel-body">
				<form role="form" th:action="@{/entidades}" method="post">
					<div class="row">
						<div class="col-sm-3">
							<label for="name">Buscar por Pais:</label>
						</div>
						<div class="col-sm-6">
							<input type="text" class="form-control" id="pais" name="pais"  />
						</div>
						<div class="col-sm-3">
							<input type="submit" value="Buscar" class="btn btn-success" />
						</div>
					</div>
				</form>
			</div>
		</div>
	
		<h2>Lista de Entidades</h2>
		<a href="#" th:href="@{/entidad/new}">Crear Entidad</a>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Ver</th>
				<th>Editar</th>
				<th>Borrar</th>
			</tr>
			<tr th:each="c : ${entidades}">
				<td th:text="${c.id_entidad}">Id</td>
				<td th:text="${c.nombre}">Nombre</td>
				<td><a th:href="${'/entidad/'+c.id_entidad}">Ver</a></td>
				<td><a th:href="${'/entidad/edit/'+c.id_entidad}">Editar</a></td>
				<td><a href="#" class="linkDelete" th:id="${c.id_entidad}">Borrar</a></td>
			</tr>
		</table>
	</div>
	
	<!-- Division Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar Entidad</h4>
				</div>
				<div class="modal-body">
					<p>Seguro de eliminar esta entidad??</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>Borrar</button>
				</div>
			</div>
		</div>
	</div>


	<!-- Funcion JavaScript que recupera el valor del id y lo envia a la URL: /../delete/ del controller-->
	<script type="text/javascript">
		$(function() {
			var idEntidad = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idEntidad = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/entidad/delete/" + idEntidad;
			});
		});
	</script>
	
</body>
</html>