<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es">
<title>Calendario Fiscal</title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
	<div class="container">
		<th:block th:include="fragments/header2 :: header"></th:block>
		<h2>Lista de Incidentes</h2>
		<a href="#" th:href="@{/incidente/new}">Crear Incidente</a>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Entidad</th>
				<th>RootCause</th>
				<th>FailedChange</th>
				<th>RootUnknown</th>
				<th>Solucion</th>
				<th>Prevencion</th>
				<th>Impacto</th>
				<th>CauseCode</th>
				<th>Periodo</th>
				<th>Duracion</th>
			</tr>
			<tr th:each="i : ${incidentes}">
				<td th:text="${i.id_incidente}">Id</td>
				<td th:text="${i.entidad.nombre}">Id</td>
				<td th:text="${i.rootCause}">Id</td>
				<td th:text="${i.failedChange}">Id</td>
				<td th:text="${i.rootUnknown}">Id</td>
				<td th:text="${i.solution}">Id</td>
				<td th:text="${i.prevention}">Id</td>
				<td th:text="${i.impacttype == null ? '' : i.impacttype.nombre}">Id</td>
				<td th:text="${i.cause_code == null ? '' : i.cause_code.nombre}">Id</td>
				<td th:text="${i.periodo == null ? '' :i.periodo.nombre}">Id</td>
				<td th:text="${i.duracion_hrs}">Id</td>
				<td><a th:href="${'/incidente/'+i.id_incidente}">Ver</a></td>
				<td><a th:href="${'/incidente/edit/'+i.id_incidente}">Editar</a></td>
				<td><a href="#" class="linkDelete" th:id="${i.id_incidente}">Borrar</a></td>
			</tr>
		</table>
	</div>

	<!-- Division Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar Incidente</h4>
				</div>
				<div class="modal-body">
					<p>Seguro de eliminar este Incidente??</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>Borrar
					</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Funcion JavaScript que recupera el valor del id y lo envia a la URL: /../delete/ del controller-->
	<script type="text/javascript">
		$(function() {
			var idIncidente = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idIncidente = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/incidente/delete/" + idIncidente;
			});
		});
	</script>

</body>
</html>