<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es">
<title>Calendario Fiscal</title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
	<div class="container">
		<th:block th:include="fragments/header2 :: header"></th:block>
		<h2>Lista de Periodos</h2>
		<a href="#" th:href="@{/periodo/new}">Crear Periodo</a>
		<table class="table table-striped">
			<tr>
				<th>Id</th>
				<th>Nombre</th>
				<th>Q</th>
				<th>Fecha Inicio</th>
				<th>Fecha Fin</th>
				<th>Ver</th>
				<th>Editar</th>
				<th>Borrar</th>

			</tr>
			<tr th:each="p : ${periodos}">
				<td th:text="${p.id_periodo}">Id</td>
				<td th:text="${p.nombre}">Nombre</td>
				<td th:text="${p.quarter}">Q</td>
				<td th:text="${p.fecha_ini}">Fecha Inicio</td>
				<td th:text="${p.fecha_fin}">Fecha Fin</td>
				<td><a th:href="${'/periodo/'+p.id_periodo}">Ver</a></td>
				<td><a th:href="${'/periodo/edit/'+p.id_periodo}">Editar</a></td>
				<td><a href="#" class="linkDelete" th:id="${p.id_periodo}">Borrar</a></td>
			</tr>
		</table>
	</div>
	
	<!-- Division Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar Periodo</h4>
				</div>
				<div class="modal-body">
					<p>Seguro de eliminar este periodo??</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>Borrar</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Funcion JavaScript que recupera el valor del id y lo envia a la URL: /../delete/ del controller-->
	<script type="text/javascript">
		$(function() {
			var idPeriodo = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idPeriodo = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/periodo/delete/" + idPeriodo;
			});
		});
	</script>
	
</body>
</html>