<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es">
<title>Calendario Fiscal</title>
</head>
<th:block th:include="fragments/headerinc :: head"></th:block>
<body>
	<div class="container">
		<th:block th:include="fragments/header2 :: header"></th:block>
		<h2>Lista de Periodos</h2>
		<a href="#" th:href="@{/servicio/new}">Crear Servicio</a>
		<table class="table table-striped">
			<tr>
				<td>Codigo</td>
				<td>Nombre</td>
				<td>Descripcion</td>
				<td>Tipo_Servicio</td>
				<td>Ver</td>
				<td>Editar</td>
				<td>Eliminar</td>
			</tr>
			<tr th:each="s : ${servicios}">
				<td th:text="${s.id_servicio}">Codigo</td>
				<td th:text="${s.nombre}">Nombre</td>
				<td th:text="${s.descripcion}">Descripcion</td>
				<td th:text="${s.tipo_servicio.nombre}">Tipo_Servicio</td>

				<td><a th:href="${'/servicio/'+s.id_servicio}">Ver</a></td>
				<td><a th:href="${'/servicio/edit/'+s.id_servicio}">Editar</a></td>
				<td><a th:href="${'/servicio/delete/'+s.id_servicio}">Eliminar</a></td>
			</tr>
		</table>
	</div>
	<!-- Division Modal -->
	<div id="modalDelete" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Borrar Servicio</h4>
				</div>
				<div class="modal-body">
					<p>Seguro de eliminar este Servicio??</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button id="btnDelete" class="btn btn-danger">
						<span class="glyphicon glyphicon-trash"></span>Borrar
					</button>
				</div>
			</div>
		</div>
	</div>
	<!-- Funcion JavaScript que recupera el valor del id y lo envia a la URL: /../delete/ del controller-->
	<script type="text/javascript">
		$(function() {
			var idServicio = null;

			$('.linkDelete').on('click', function(e) {
				e.preventDefault();
				$('#modalDelete').modal();
				idServicio = $(this).attr('id');
			});

			$('#btnDelete').on('click', function() {
				location.href = "/servicio/delete/" + idServicio;
			});
		});
	</script>
</body>
</html>