<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<form>
		<p th:text="${servicio.id_servicio}">Codigo</p>
		<p th:text="${servicio.nombre}">Nombre</p>
		<p th:text="${servicio.descripcion}">Descripcion</p>
		<p th:text="${servicio.tipo_servicio.nombre}">Tipo_Categoria</p>
	</form>

</body>
</html>