<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>
	<table>
			<tr>
				<td>Codigo</td>
				<td>Nombre</td>
				<td>Descripcion</td>
				<td>Ver</td>
				<td>Editar</td>
				<td>Eliminar</td>
			</tr>
			<tr th:each="t : ${tiposervicios}">
				<td th:text="${t.id_tipo_servicio}">Codigo</td>
				<td th:text="${t.nombre}">Nombre</td>
				<td th:text="${t.descripcion}">Descripcion</td>
				
				<td><a th:href="${'/tiposervicio/'+t.id_tipo_servicio}">Ver</a></td>
				<td><a th:href="${'/tiposervicio/edit/'+t.id_tipo_servicio}">Editar</a></td>
				<td><a th:href="${'/tiposervicio/delete/'+t.id_tipo_servicio}">Eliminar</a></td>
			</tr>
	</table>
</body>
</html>