<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>Insert title here</title>
</head>
<body>

	<form>
		<p th:text="${tiposervicio.id_tipo_servicio}">Codigo</p>
		<p th:text="${tiposervicio.nombre}">Nombre</p>
		<p th:text="${tiposervicio.descripcion}">Descripcion</p>
	</form>


</body>
</html>