<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Ver Incidente de Reporte</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="fragments/header2 :: header"></th:block>
		<h2>Detalle Incidente</h2>
		<div>
			<form class="form-horizontal" th:object="${incidente}">
				<input type="hidden" th:field="*{id_incidente}" />
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">ID</div>
						<div class="panel-body" th:text="*{id_incidente}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Entidad</div>
						<div class="panel-body" th:text="*{entidad.nombre}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">RootCause</div>
						<div class="panel-body" th:text="*{rootCause}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">FailedChange</div>
						<div class="panel-body" th:text="*{failedChange}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">RootUnknown</div>
						<div class="panel-body" th:text="*{rootUnknown}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Solucion</div>
						<div class="panel-body" th:text="*{solution}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Prevencion</div>
						<div class="panel-body" th:text="*{prevention}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">ImpactType</div>
						<div class="panel-body" th:text="*{impacttype}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Cause Code</div>
						<div class="panel-body" th:text="*{cause_code}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Periodo</div>
						<div class="panel-body" th:text="*{periodo.nombre}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Duracion</div>
						<div class="panel-body" th:text="*{duracion_hrs}"></div>
					</div>
					
				</div>

				<div class="text-right">
					<input type="button" class="btn btn-primary"
						onclick="location.href='/incidentes/'" value="Regresar" />
				</div>
			</form>
		</div>
	</div>


</body>
</html>