<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Ver Entidad Financiera</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="fragments/header2 :: header"></th:block>
		<h2>Detalle Entidad</h2>
		<div>
			<form class="form-horizontal" th:object="${entidad}">
				<input type="hidden" th:field="*{id_entidad}" />
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">Nombre</div>
	      				<div class="panel-body" th:text="*{nombre}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Pais</div>
	      				<div class="panel-body" th:text="*{pais}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Descripcion</div>
	      				<div class="panel-body" th:text="*{descripcion}"></div>
					</div>
				</div>
				
				<div class="text-right">
					<input type="button" class="btn btn-primary"
							onclick="location.href='/entidades/'" value="Regresar" />
				</div>
			</form>
		</div>
	</div>

</body>
</html>