<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="es">
<title>Ver Periodo de Reporte</title>
<th:block th:include="fragments/headerinc :: head"></th:block>
</head>
<body>
	<div class="container">
		<th:block th:include="fragments/header2 :: header"></th:block>
		<h2>Detalle Periodo</h2>
		<div>
			<form class="form-horizontal" th:object="${periodo}">
				<input type="hidden" th:field="*{id_periodo}" />
				<div class="panel-group">
					<div class="panel panel-primary">
						<div class="panel-heading">Nombre</div>
	      				<div class="panel-body" th:text="*{nombre}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Nro. de trimestre (Quarter)</div>
	      				<div class="panel-body" th:text="*{quarter}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Fecha Inicio</div>
	      				<div class="panel-body" th:text="*{fecha_ini}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Fecha Fin</div>
	      				<div class="panel-body" th:text="*{fecha_fin}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Duracion Periodo</div>
	      				<div class="panel-body" th:text="*{semanas}+semanas"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Fecha Solicitud de Informacion</div>
	      				<div class="panel-body" th:text="*{request_date}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Fecha Publicacion de Reporte</div>
	      				<div class="panel-body" th:text="*{delivery_date}"></div>
					</div>
					<div class="panel panel-primary">
						<div class="panel-heading">Anho Fiscal</div>
	      				<div class="panel-body" th:text="*{fiscal_year}"></div>
					</div>
				</div>
				
				<div class="text-right">
					<input type="button" class="btn btn-primary"
							onclick="location.href='/entidades/'" value="Regresar" />
				</div>
			</form>
		</div>
	</div>

</body>
</html>